.carousel-indicators {
  margin: -40px !important;
}

.carousel-indicators li {
  background-color: #6f2121 !important;
}

.carousel .carousel-inner {
  box-shadow: 13px 15px 13px 0px rgba(0, 0, 0, 0.493) !important;
  border-radius: 0.1875rem !important;
}

.principal-container {
  width: 90%;
}

.container-element {
  margin-top: "65px";
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 13px 15px 13px 0px rgba(0, 0, 0, 0.493);
}

@media screen and (max-width: 768px) {
  .container-element {
    flex-direction: column;
    box-shadow: none;
    margin-top: "100px";
  }
  .principal-container {
    width: 100%;
  }
}
